@import '../../partials/colors.scss';

$form-input-color: $black;
$form-input-bg-color: $white;
$form-input-shadow-color: $very-light-gray;
$form-input-font-size: 16px;
$form-heading-color: $black;
$form-heading-color-reverse: $white;

.page-form {
    position: relative;

    input:not([type=submit]),
    select {
        padding: 26px 9px 6px;
        width: 100%;
        font-size: $form-input-font-size;
        font-weight: 500;
        border: 1px solid transparent;
        background: $form-input-bg-color;
        border-bottom: none;
        border-radius: 3px;
        box-shadow: inset 0 -2px 0 0 $form-input-shadow-color;

        &::-webkit-input-placeholder,
        &::placeholder {
            font-weight: 600;
            color: $form-input-color;
            opacity: 0.35;
            transition: opacity 0.35s ease-in-out;
        }

        &:focus::-webkit-input-placeholder,
        &:focus::placeholder {
            opacity: 0;
            transition: opacity 0.35s ease-in-out;
        }

        &.valid {
            border-color: $green;
            box-shadow: inset 0 -2px 0 0 $green;
        }

        &.error {
            border-color: $red;
            box-shadow: inset 0 -2px 0 0 $red;
        }
    }

    input {
        padding: 16px 9px;
    }

    select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }

    label {
        font-size: 12px;
        font-weight: 600;
    }

    .glyphicon-lock {
        top: -3px;
        margin: 0 9px 0 18px;
        font-size: 13px;
    }

    &__heading {
        position: relative;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        color: $form-heading-color;

        .circle-icon {
            margin: 0 10px 0 0;
            color: $form-heading-color-reverse;
            background-color: $form-heading-color;
        }

        @media screen and (min-width: 840px) {
            .circle-icon {
                position: absolute;
                top: 50%;
                left: -25px;
                transform: translateY(-50%);
            }
        }
    }

    &__submit {
        position: relative;
        border-radius: 3px;

        input {
            padding: 0;
            border: none;
            background: transparent;
            color: inherit;
            font-size: 13px;
            font-weight: bold;
            text-transform: uppercase;
            outline: none;
        }

        .icon,
        .glyphicon {
            margin: 0 5px;
            font-size: $form-input-font-size;
        }
    }

    &__input-wrapper {
        position: relative;

        label {
            position: absolute;
            top: 9px;
            left: 10px;
        }

        .icon,
        .glyphicon {
            position: absolute;
            top: 50%;
            right: 15px;
            transform: translateY(-50%);
            z-index: 1;

            &.small {
                font-size: 11px;
            }
        }

        &.input-inline {
            .icon,
            .glyphicon {
                position: relative;
                top: auto;
                right: auto;
                transform: none;
            }
        }

        &--with-icon {
            input,
            select {
                padding-right: 45px;
            }
        }
    }
}
