@import 'colors.scss';

$page-btn-color: $white;
$page-btn-bg-color: $black;

.page-button {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    padding: 16px 9px;
    color: $page-btn-color;
    text-transform: uppercase;
    border: none;
    background-color: $page-btn-bg-color;
    cursor: pointer;

    input {
        padding: 0;
        border: none;
        background: transparent;
        color: inherit;
    }

    &--success {
        background-color: $green;
    }
}
